.activity-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffff;
}

.activity-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #f9b200;
  margin-bottom: 40px;
}

.activity-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.activity-card {
  background: #fff;
  border: 2px solid #f9b200;
  border-radius: 50%;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  width: 200px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-card:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(246, 141, 4, 0.3);
}

.activity-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.activity-card h3 {
  font-size: 1.4em;
  color: #e27e03;
}

.activity-card p {
  color: #000000;
  font-size: 1.1em;
  line-height: 1.4;
}