

.bodys {
  height: 100vh;
  background-image: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:50rem;
  height: 30rem;
  box-shadow: 0.9px 0.6px 5px 2px rgb(255, 136, 0);
}

.card-image {
  background-image: url('https://media.discordapp.net/attachments/1121885737277734913/1334468398285066272/Orange_Coding_School_1080_x_1350_px.png?ex=679ca40b&is=679b528b&hm=375a9c4db69ea439082105ab6924b55c7d10972e25ca3918810751617fd73cad&=&format=webp&quality=lossless&width=465&height=582');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  padding: 10px 10px;
  margin: 5px;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.error {
  font-family: sans-serif;
  color: red;
  font-size: 10px;
}

.submit-btn {
  width: 80%;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  background: rgb(247, 165, 3);
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
}
